{{#each messages}}
  <div class="messages-item" data-id={{id}}>
    <li>
      <p>{{subject}}</p>
      <p>{{body}}</p>
      <p>{{updated_at}}</p>
      <p>{{sender_id}}</p>
    </li>
  </div>
{{/each}}
